@import "./page/loadding";
@import "./page/shadowLayer";
@import "./page/variables";
@import "./test/reset";
@import "./test/home";
@import "./test/private";
@import "./test/exchange";
@import "./test/staking";
@import "./test/farming";
@import "./test/test";
@import "./test/login";
@import "./test/register";
@import "./test/overlay";
@import "./test/header";
@import "./test/historyPrivate";
@import "./test/bannerBg";
@import "./test/deposit";
@import "./test/withdraw";
@import "./test/game";
@import "./test/reward";
@import "./test/referral";
@import "./test/profile";
@import "./test/changepassword";
@import "./test/kyc";



button{
    outline: none !important;
    width: 100%;
    &:focus{
        outline: none !important;
    }
}